$font-stack:  Roboto, sans-serif;
$bg-color:#cebcb3;
$title-color:#595959;
$text-color:#969696;
$dark-green:#17987f;
@import "./grid.scss";
@import "./header.scss";
@import "./main__block.scss";
@import "./ourServiceItem.scss";
@import "./common.scss";
@import "./decoreBlock.scss";
@import "./priceCard.scss";
@import "./portfolio.scss";

